# Copyright 2019 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Use the Google style in this project.
BasedOnStyle: Google

# Some folks prefer to write "int& foo" while others prefer "int &foo".  The
# Google Style Guide only asks for consistency within a project, we chose
# "int& foo" for this project:
DerivePointerAlignment: false
PointerAlignment: Left

IncludeBlocks: Merge
IncludeCategories:
  - Regex: '^\"'
    Priority: 1000
  - Regex: '^<google/cloud/'
    Priority: 1500
  - Regex: '^<grpc/'
    Priority: 2000
  - Regex: '^<google/'
    Priority: 3000
  - Regex: '^<[^>]*/'
    Priority: 4000
  - Regex: '^<[^/>]*>'
    Priority: 5000
