language: cpp

dist: trusty
sudo: required

matrix:
  include:
    - os: linux
      compiler: clang
      env: DOCKER_BUILD=no CXX_COMPILER=/usr/bin/clang++ DISTRO="" DISTRO_VERSION=""
    - os: linux
      compiler: gcc
      env: DOCKER_BUILD=no
    - os: linux
      compiler: clang
      env: DOCKER_BUILD=yes DISTRO=ubuntu DISTRO_VERSION=14.04
    - os: linux
      compiler: clang
      env: DOCKER_BUILD=yes DISTRO=ubuntu DISTRO_VERSION=16.04 CXX_COMPILER=/usr/bin/clang++
    - os: linux
      compiler: clang
      env: DOCKER_BUILD=yes DISTRO=ubuntu DISTRO_VERSION=17.04
    - os: linux
      compiler: clang
      env: DOCKER_BUILD=yes DISTRO=fedora DISTRO_VERSION=24
    - os: linux
      compiler: clang
      env: DOCKER_BUILD=yes DISTRO=fedora DISTRO_VERSION=25

script:
  - if [ "${DOCKER_BUILD?}" = "no" ]; then
      (cd bigtable/api && make -C googleapis OUTPUT=$PWD/googleapis-gens &&
       cmake -DCMAKE_CXX_COMPILER=${CXX_COMPILER} . && make);
    fi
  - if [ "${DOCKER_BUILD?}" = "yes" ]; then
      (cd bigtable/api &&
       sudo docker build
          -t cached-${DISTRO?}-${DISTRO_VERSION?}:tip
          --cache-from cached-${DISTRO?}-${DISTRO_VERSION}:latest
          --build-arg DISTRO_VERSION=${DISTRO_VERSION?}
          --build-arg CXX_COMPILER=${CXX_COMPILER?}
          --build-arg TRAVIS_REPO_SLUG=${TRAVIS_REPO_SLUG}
          --build-arg TRAVIS_EVENT_TYPE=${TRAVIS_EVENT_TYPE}
          --build-arg TRAVIS_COMMIT=${TRAVIS_COMMIT}
          -f docker/Dockerfile.${DISTRO?} docker/ );
    fi

addons:
  apt:
    packages:
      - curl
      - git-core
      - make
      - gcc
      - g++
      - build-essential
      - autoconf
      - automake
      - autoconf-archive
      - libtool
      - pkg-config
      - cmake
      - clang++-3.9

# Cache the grpc directory because building it takes so long ...
cache:
  directories:
    - docker-images/ubuntu/14.04
    - docker-images/ubuntu/16.04
    - docker-images/ubuntu/17.04
    - docker-images/fedora/24
    - docker-images/fedora/25

install:
  # Install and build the dependencies needed in one of the cached
  # directories, that makes the next build slightly faster ...
  - if [ "${DOCKER_BUILD?}" = "no" ]; then
      sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-3.9 100;
      sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-3.9 100;
      sudo update-alternatives --display clang++ || echo "";
      test -d grpc-build/${CC?}/grpc/.git ||
        git clone https://github.com/grpc/grpc.git grpc-build/${CC?}/grpc;
      (cd grpc-build/${CC?}/grpc && git pull && git submodule update --init);
      (cd grpc-build/${CC?}/grpc && make -j 2 && sudo make install);
      (cd grpc-build/${CC?}/grpc/third_party/protobuf && sudo make install);
    fi
  # Restore the docker image from the cached directory.  That way we
  # can reuse the steps in the docker image that install
  # pre-requisites and build dependencies ...
  - if [ "${DOCKER_BUILD?}" = "yes" -a
       -f docker-images/${DISTRO?}/${DISTRO_VERSION?}/saved.tar.gz ]; then
      sudo docker load <docker-images/${DISTRO?}/${DISTRO_VERSION?}/saved.tar.gz;
    fi
  # Some debugging ...
  - ls /usr/local/lib/pkgconfig || echo "no /usr/local/lib/pkgconfig"
  - ls -l
  - sudo docker image ls

after_success:
  - if [ "${DOCKER_BUILD?}" = "yes" ]; then
      sudo docker image tag
          cached-${DISTRO?}-${DISTRO_VERSION?}:tip \
          cached-${DISTRO?}-${DISTRO_VERSION?}:latest;
      sudo docker save cached-${DISTRO?}-${DISTRO_VERSION?}:latest |
        gzip > docker-images/${DISTRO?}/${DISTRO_VERSION?}/saved.tar.gz;
    fi

notifications:
  email: false
