---
# We'll use defaults from the Google Style Guide.
BasedOnStyle: Google

IncludeCategories:
  - Regex: '^<google/'
    Priority: 1000
  - Regex: '^<grpc\+\+/'
    Priority: 2000
  - Regex: '^<grpc/'
    Priority: 3000
